# set to 'false' for local
DEBUG=

# set in production
SECRET_KEY=

# url for database used; for example:
# if sqlite: `DATABASE_URL=sqlite:///dev.db`
# if potgres: `DATABASE_URL=postgres://<username>:<password>@/<dbname>`
DATABASE_URL=
