ul {
  list-style-type: none;
}

.messages-list {
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    border: none;
}

.navbar-default {
    background-color: #ABE6F5;
}
