{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <h2 >Welcome</h2>
        <div class="col-md-6 col-md-offset-3">
            <form  method="POST" action="{% url 'login' %}">
                {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div>
                {{ field }}
            </div>
            {% endfor %}
            {% if login_error %}
             <div>
                <p class="text-danger">{{ login_error }}</p>
            </div>
            {% endif %}
                <button class="btn btn-brand" type="submit">Sign in</button>
                <p>Need an account? <strong><a href="{% url 'register' %}">Click here to join</a></strong></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
